.AutomationPage {
	.Section {
		.AutomationPage_sectionName {
			font-size: 22px;
			text-decoration: underline;
			margin-bottom: 20px;
		}

		.AutomationPage_sectionOption {
			.AutomationPaga_options {
				label {
					font-weight: bold;
					font-size: 1.17em;
				}
			}
		}
	}
}