@use "mixins";
@use "forms";

.BellShopPage, .BellShopGiftPage {
	.Header {
		.BellShopPage_bells, .BellShopGiftPage_bells {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.BellShopPage_userBells, .BellShopGiftPage_userBells {
				@extend .HeaderText;
			}
		}
	}
}

.BellShopPage_hidden {
	visibility: hidden;
	pointer-events: none;
}

.BellShopPage {
	.Section {
		.BellShopPage_sort {
			display: flex;
			justify-content: center;
			align-items: baseline;

			.BellShopPage_sortLink {
				padding: mixins.px2rem(2px);
			}

			.BellShopPage_sortLink.selected {
				color: red;
			}
		}

		.Grid {
			@include mixins.responsive(1rem) {
				@include mixins.grid($col-width: 15rem);
			}

			@media only screen and (max-width: mixins.px2rem(521px)) and (min-width: mixins.px2rem(372px)){
				@include mixins.grid($col-width: 10rem);
			}

			a:not(.BellShopPage_button) {
				@extend .GenericButtonWithCustomImage;
			}

			a.BellShopPage_button {
				display: flex;
				justify-content: center;
				transform-style: preserve-3d;
			}
		}
	}

	.BellShopPage_category {
		@extend .GenericButtonWithCustomImage;

		&_avatar-accents {
			background-image: url(/src/client/images/bell_shop/avatar_accents.png);
		}

		&_avatar-backgrounds {
			background-image: url(/src/client/images/bell_shop/avatar_backgrounds.png);
		}

		&_avatar-characters {
			background-image: url(/src/client/images/bell_shop/avatar_characters.png);
		}

		&_background-colorations {
			background-image: url(/src/client/images/bell_shop/background_colorations.png);
		}

		&_reactions {
			background-image: url(/src/client/images/bell_shop/reactions.png);
		}
	}
}

.BellShopRedeemedPage {
	.Section {
		.Grid {
			@include mixins.responsive(1rem) {
				@include mixins.grid($col-width: 15rem);
			}
		}
	}
}

.BellShopPage_item:hover, .BellShopPage_pack:hover {
	box-shadow: 0 6px 14px rgba(0,0,0,0.2);
}

.BellShopPage_item, .BellShopRedeemedPage_item, .BellShopGiftPage_item {
	@extend .GenericInnerSection;

	display: flex;
	flex-direction: column;
	align-items: center;
	
	.Avatar {
		margin: 0;
	}

	.BellShopPage_name, .BellShopRedeemedPage_name, .BellShopGiftPage_name {
		font-size: mixins.px2rem(16px);
		font-weight: bold;
		text-align: center;
		margin: 0.5rem 0 1rem 0;
	}

	.BellShopPage_prices, .BellShopGiftPage_prices {
		margin-top: auto;

		.BellShopPage_button, .BellShopGiftPage_button {
			@include mixins.button;
			margin: mixins.px2rem(1px);
			text-align: center;

			&:disabled, &[disabled] {
				border: 1px solid #999999;
				background-color: #cccccc;
				color: #666666;
				text-shadow: none;
				cursor: not-allowed;
			}

			&.BellShopPage_redeemed {
				cursor: auto;
			}
		}
	}
}

.BellShopPage_imageRedeemed {
	opacity: .5;
}

.BellShopPage_subtitle {
	display: block;
	font-size: 0.85em;
}

.BellShopPage_game {
	display: block;
	font-size: 0.75em;
	opacity: 0.7;
}

.BellShopPage_pack {
	@extend .GenericInnerSection;

	display: flex;
	flex-direction: column;

	.BellShopPage_packName {
		font-size: mixins.px2rem(20px);
		font-weight: bold;
		text-align: center;
		margin: auto 0 1rem 0;
	}

	.BellShopPage_prices {
		.BellShopPage_button {
			@include mixins.button;
			margin: mixins.px2rem(1px);
			text-align: center;

			&:disabled, &[disabled] {
				border: 1px solid #999999;
				background-color: #cccccc;
				color: #666666;
				text-shadow: none;
				cursor: not-allowed;
			}

			&.BellShopPage_redeemed {
				cursor: auto;
			}
		}
	}
}

.BellShopGiftPage_prices {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.BellShopPage_prices {
	display: flex;
	flex-direction: column;
}

.BellShopPage_itemColorableIcon {
	height: mixins.px2rem(20px);
	margin-right: mixins.px2rem(5px);
}