@use "mixins";
@use "forms";

.BellShopPage, .BellShopGiftPage {
	.Header {
		.BellShopPage_bells, .BellShopGiftPage_bells {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.BellShopPage_userBells, .BellShopGiftPage_userBells {
				@extend .HeaderText;
			}
		}
	}
}

.BellShopPage {
	.Section {
		.BellShopPage_sort {
			display: flex;
			justify-content: center;
			align-items: baseline;

			.BellShopPage_sortLink {
				padding: mixins.px2rem(2px);
			}

			.BellShopPage_sortLink.selected {
				color: red;
			}
		}

		.Grid {
			@include mixins.responsive(1rem) {
				@include mixins.grid($col-width: 15rem);
			}

			a:not(.BellShopPage_button) {
				@extend .GenericButtonWithCustomImage;
			}

			a.BellShopPage_button {
				display: flex;
				justify-content: center;
				transform-style: preserve-3d;
			}
		}
	}

	.BellShopPage_category {
		@extend .GenericButtonWithCustomImage;

		&_avatar-accents {
			background-image: url(https://cdn-s3.animalcrossingcommunity.com/images/bell_shop/avatar_accents.png);
		}

		&_avatar-backgrounds {
			background-image: url(https://cdn-s3.animalcrossingcommunity.com/images/bell_shop/avatar_backgrounds.png);
		}

		&_avatar-characters {
			background-image: url(https://cdn-s3.animalcrossingcommunity.com/images/bell_shop/avatar_characters.png);
		}

		&_background-colorations {
			background-image: url(https://cdn-s3.animalcrossingcommunity.com/images/bell_shop/background_colorations.png);
		}
	}
}

.BellShopRedeemedPage {
	.Section {
		.Grid {
			@include mixins.responsive(1rem) {
				@include mixins.grid($col-width: 15rem);
			}
		}
	}
}

.BellShopPage_item, .BellShopRedeemedPage_item, .BellShopGiftPage_item {
	@extend .GenericInnerSection;

	display: flex;
	flex-direction: column;
	align-items: center;

	.BellShopPage_name, .BellShopRedeemedPage_name, .BellShopGiftPage_name {
		font-size: 20px;
		font-weight: bold;
		text-align: center;
	}

	.BellShopPage_prices, .BellShopGiftPage_prices {
		.BellShopPage_button, .BellShopGiftPage_button {
			@include mixins.button;
			margin: mixins.px2rem(1px);
			text-align: center;

			&:disabled, &[disabled] {
				border: 1px solid #999999;
				background-color: #cccccc;
				color: #666666;
				cursor: not-allowed;
			}

			&.BellShopPage_redeemed {
				cursor: auto;
			}
		}
	}
}

.BellShopGiftPage_prices {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.BellShopPage_prices {
	display: flex;
	flex-direction: column;
}