@use "mixins";
@use "forms";

.CalendarPage {
	.Section {
		.CalendarPage_monthSection {
			.CalendarPage_monthName {
				text-align: center;
				font-size: mixins.px2rem(25px);
				font-weight: bold;
			}

			.CalendarPage_categorySections {
				.CalendarPage_categorySection {
					@extend .GenericInnerSection;

					margin-left: mixins.px2rem(5px);
					margin-right: mixins.px2rem(5px);
					flex: 1;

					.CalendarPage_categoryName {
						font-size: mixins.px2rem(16px);
						text-decoration: underline;
						padding-bottom: mixins.px2rem(5px);
					}

					.CalendarPage_eventSections {
						@include mixins.responsive(1rem) {
							@include mixins.grid($col-width: 12rem);
						}

						.CalendarPage_eventSection {
							padding-bottom: mixins.px2rem(5px);
							padding-top: mixins.px2rem(5px);

							display: flex;

							img {
								height: 32px;
								width: 32px;
							}

							.CalendarPage_eventText {
								.CalendarPage_eventName {
									text-transform: capitalize;
									font-weight: bold;
								}

								.CalendarPage_timing {
									text-transform: capitalize;
								}
							}
						}
					}
				}
			}
		}
	}
}