@use "mixins";
@use "forms";

.CatalogPage {
	.Section {
		.Grid {
			@include mixins.responsive(1rem) {
				@include mixins.grid($col-width: 15rem);
			}
		}
	}

	.Catalog {
		.Section {
			.Catalog_header {
				display: flex;
				justify-content: center;
				align-items: center;

				.Catalog_all, .Catalog_search, .Catalog_museum {
					margin: mixins.px2rem(10px);
				}

				.Catalog_all, .Catalog_museum {
					@include mixins.contentbox();
					text-align: center;
					padding: mixins.px2rem(15px);
				}

				.Catalog_all.selected, .Catalog_museum.selected {
					color: #fff;
					background-color: var(--seasonal-color-dark);

					.App-snow & {
						color: #555;
					}
				}

				.Catalog_search {
					font-weight: bold;

					display: flex;
					align-items: center;

					input[type='text'] {
						@extend .GenericTextbox;
						margin: 0 mixins.px2rem(4px);
						width: mixins.px2rem(120px);
						@include mixins.responsive(30rem) {
							width: mixins.px2rem(200px);
						}
					}

					button {
						@extend .GenericButton;
						width: 3.625rem;

						flex: 1 1 auto;
					}
				}
			}

			.Catalog_categories {
				padding-top: mixins.px2rem(10px);

				@include mixins.responsive(1rem) {
					@include mixins.grid($col-width: 15rem);
				}

				.CategoryName {
					@include mixins.contentbox();
					text-align: center;
					padding: mixins.px2rem(15px);
				}

				.CategoryName.selected {
					color: #fff;
					background-color: var(--seasonal-color-dark);

					.App-snow & {
						color: #555;
					}
				}
			}
		}

		.Catalog_categoryItems {
			@extend .GenericSection;

			.Catalog_links {
				@include mixins.links(110px);
			}

			.Catalog_sort {
				display: flex;
				justify-content: center;
				align-items: baseline;

				.Catalog_sortLink {
					padding: mixins.px2rem(2px);
				}

				.Catalog_sortLink.selected {
					color: red;
				}
			}

			.Catalog_setAll {
				display: flex;
				justify-content: center;
			}

			.CatalogCategory {
				.CatalogCategory_name {
					display: flex;
					align-items: center;
					text-transform: capitalize;
				}

				.CatalogCategory_name.hidden {
					display: none;
				}

				.CatalogCategory_groupItems {
					@include mixins.responsive(1rem) {
						@include mixins.grid($col-width: 10rem);
					}

					.CatalogCategory_item {
						@include mixins.contentbox();
						text-align: center;
						padding: mixins.px2rem(5px);

						.CatalogCategory_itemName {
							text-transform: capitalize;
						}
					}

					.InventoryItem {
						background-color: #feec96;
					}

					.WishlistItem {
						background-color: #4DBAAD;
					}

					.InventoryItem.WishlistItem {
						background-color: #E2944C;
					}
				}

				.CatalogCategory_itemOptions, .CatalogCategory_groupToggle {
					display: flex;
					justify-content: center;
					align-items: center;
				}

				.CatalogCategory_itemOption, .CatalogCategory_groupOption {
					position: relative;
					margin: mixins.px2rem(5px);

					label {
						background-color: #fff;
						border: mixins.px2rem(1px) solid #ccc;
						border-radius: 50%;
						cursor: pointer;
						height: mixins.px2rem(28px);
						left: 0;
						position: absolute;
						top: 0;
						width: mixins.px2rem(28px);
						font-size: mixins.px2rem(16px);
						padding: mixins.px2rem(3px) mixins.px2rem(0px) mixins.px2rem(2px) mixins.px2rem(0px);
					}

					input[type="checkbox"] {
						visibility: hidden;
					}

					input[type="checkbox"]:checked + label {
						background-color: #66bb6a;
						border-color: #66bb6a;
					}
				}

				.CatalogCategory_groupToggle {
					label {
						padding-left: mixins.px2rem(10px);
						font-weight: normal;
					}
				}
			}

			button {
				@extend .GenericSubmitButton;
			}
		}
	}
}

.CatalogType_user {
	@extend .GenericButtonWithCustomImage;
}

.CatalogPage {
	.ACGameButtons_game_modify {
		p {
			transform: inherit !important;
			@extend .HeaderText;
			width: mixins.px2rem(165px) !important;
		}
	}
}

.Catalog_legend {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;

	.Catalog_legendBox {
		box-shadow: 0px -1px 0px rgba(0,0,0,.3) inset,0px 1px 0px rgba(255,255,255,.3) inset;
		border: 1px solid rgba(0,0,0,.7);
		border-radius: .3333em;
		text-align: center;
		padding: 0.3125rem;

		&.InventoryItem {
			background-color: #feec96;
			padding-left: mixins.px2rem(15px);
			padding-right: mixins.px2rem(15px);
		}

		&.WishlistItem {
			background-color: #4DBAAD;
			padding-left: mixins.px2rem(20px);
			padding-right: mixins.px2rem(20px);
		}

		&.InventoryItem.WishlistItem {
			background-color: #E2944C;
		}
	}
}