@use "mixins";
@use "forms";

.FeaturesDashboardPage {
	.Section {
		.Grid {
			@include mixins.responsive(1rem) {
				@include mixins.grid($col-width: 20rem);
			}

			.FeaturesDashboardPage_feature {
				@extend .GenericInnerSection;
			}
		}
	}
}

.FeaturePage {
	.Tabs {
		padding-top: mixins.px2rem(20px);
	}

	.FeaturePage_chat {
		@extend .GenericSection;
	}

	.FeaturePage_message {
		@extend .GenericInnerSection;
	}

	.FeaturePage_userList {
		margin-left: 1.5rem;

		li {
			list-style: disc;
		}
	}
}