@use "mixins";
@use "forms";

.MapMaker {
	@extend .GenericSection;
}

.MapPalette {
	@include mixins.contentbox($background: #ba8759);
	padding: 1rem;
	font-size: mixins.px2rem(14px);
}

.MapMaker {
	.MapMaker_grid {
		@include mixins.responsive(40rem) {
			@include mixins.grid($col-width: 36rem);
		}
	}

	.Map {
		border-collapse: collapse;
		line-height: 0;
		width: 100%;

		img {
			width: 100%;
		}

		.row {
			display: flex;
		}
	}

	.Map img, .MapPalette img {
		border: mixins.px2rem(2px) solid black;
		cursor: pointer;
	}

	.Map img.selected, .MapPalette img.selected {
		border: mixins.px2rem(2px) solid red;
	}

	.MapPalette {
		.hidden {
			display: none;
		}

		.PaletteGroups {
			@include mixins.responsive(1rem) {
				@include mixins.grid($col-width: 5rem);
			}
		}

		img {
			width: mixins.px2rem(64px);
		}
	}
}

.MapMakerPage_description {
	margin-bottom: mixins.px2rem(10px);
}
