@use "fonts";
@use "mixins";
@use "forms";

.ProfileBanner {
	@include mixins.contentbox(white, black);

	margin-bottom: mixins.px2rem(20px);
	padding: 1rem;

	h1 {
		display: flex;
		align-items: center;
	}
}

.ProfileBanner:last-child {
	margin-bottom: 0;
}

.ProfilePage_subsection {
	display: inline-block;
	vertical-align: top;
}

.ProfileGeneralInfo {
	padding-left: mixins.px2rem(10px);
	display: inline-block;
	clear: left;
}

.ProfileGeneralInfo_fieldname {
	font-weight: bold;
}

.ProfileGeneralInfo_icons {
	display: flex;
}

.ProfileFriendCodesPage {
	.Header {
		.TotalRatings {
			text-align: center;
		}
	}
}

.ProfileGeneralInfo_usernameHistory li {
	list-style-type: circle;
	margin-left: 50px;
}

.ProfileAdminPage {
	.ProfileAdminPage_header {
		@extend .GenericHeader;

		.ProfileAdminPage_name {
			font-family: fonts.$fontstack-system;
			font-size: mixins.px2rem(24px);
			text-align: center;
		}
	}
	
	.ProfileAdminPage_chooseUserGroup {
		@extend .GenericSection;

		.ProfileAdminPage_userGroup {
			.ProfileAdminPage_select {
				@extend .GenericSelect;
			}
		}
	}

	.ProfileAdminPage_button {
		@extend .GenericSubmitButton;
	}

	.Permission_permissions {
		@extend .GenericSection;
	}
}

.ProfileBioPage .ContentBox {
	margin: 0;
}

.ProfileBioPage .ContentBox,
.EditProfileBioPage .Markup,
.NodeWritingInterface .Markup,
.Node .Node_metadata + .Markup,
.EditShop .Markup,
.ShopPage .Markup {
	font-family: verdana;
	font-size: mixins.px2rem(12px);
	line-height: initial;

	.spoiler {
		color: #fff;
	}
}

.Node .Node_metadata + .Markup {
	margin-bottom: 1rem;
}

.ProfileBioPage_section {
	display: flex;
	flex-direction: column;
	gap: mixins.px2rem(4px);

	.ProfileBioPage_option {
		display: flex;
		align-items: center;
	}
}

.ProfileBioPage_bioContainer {
	display: flex;
	align-items: center;
	word-break: break-word;
}


@include mixins.responsive(48rem) {
	.ProfileBioPage_bioContainer {
		align-items: normal;
	}

	.ProfileBioPage_option, .ProfileBioPage_bioContainer {
		.ReportProblem {

			input {
				height: mixins.px2rem(12px);
				/* 
				 * The following formula calculates the difference between the top of the text next to the report button (0.875rem size) and the top of its element.
				 * This margin is given to the report button to align it with the bio text when the text has a top margin of 0.
				 */
				margin-top: calc((1rem - mixins.px2rem(12px)) / 2);
			}
		}
	}

	.ProfileBioPage .ContentBox {
		padding: 1rem;
	}
}