@use "mixins";
@use "forms";

.UserGivenRatingsPage, .UserReceivedRatingsPage {
	.Header {
		.TotalRatings {
			text-align: center;
		}
	}

	.Section {
		.Grid {
			@include mixins.responsive(1rem) {
				@include mixins.grid($col-width: 15rem);
			}
		}
	}
}

.Rating {
	@extend .GenericInnerSection;

	.Rating_links {
		@include mixins.links(205px);
	}

	.Rating_rating, .Rating_comment, .Rating_user, .Rating_lastUpdated {
		label {
			font-weight: bold;
		}
	}

	.Rating_rating {
		display: flex;
		align-items: center;

		img {
			align-self: center;
		}

		.ReportProblem {
			input {
				padding-left: 0;
			}
		}
	}
}


@include mixins.responsive(48rem) {
	.Rating {
		.Rating_rating {
			.ReportProblem {
				input {
					height: mixins.px2rem(14px);
				}
			}
		}
	}
}

.TotalRatings {
	.capitalize {
		text-transform: capitalize;
	}
}

.Header {
	.TotalRatings {
		@extend .HeaderText;
	}
}