@use "colors";
@use "mixins";
@use "forms";

.AvatarSettingsPage_form {
	text-align: center;

	.Avatar {
		float: none;
	}

	.Tab_buttons {
		justify-content: center;
	}
}

.AvatarSettingsPage_mainPortal {
	@include mixins.contentbox($background: var(--seasonal-color));
	@include mixins.inset-text;
	padding: mixins.px2rem(16px);
	border-radius: mixins.px2rem(20px);
	margin-bottom: mixins.px2rem(10px);
	display: inline-block;
}

.AvatarSettingsPage_avatarPreviews {
	text-align: center;
}

.AvatarSettingsPage_avatarContainer {
	display: inline-block;
	margin: mixins.px2rem(5px);
	font-size: 1.17em;
	font-weight: bold;
	
	.Avatar {
		margin: auto;
	}
}

.AvatarSettingsPage_toolbar {
	label {
		font-size: 1.17em;
		font-weight: bold;
		margin-right: mixins.px2rem(5px);
	}

	.Switch {
		justify-content: center;
	}
}

.AvatarSettingsPage_submitButton {
	@include mixins.button;
	text-align: center;
	background: var(--seasonal-color-dark);
}

.AvatarSelector {
	@include mixins.contentbox($background-image: colors.$background-image);
	text-align: center;

	> .Select-multiple {
		margin: 8px;
	}
}

.AvatarSelector_colorationContainer {
	@include mixins.contentbox($background: var(--seasonal-color));
	padding: mixins.px2rem(3px) mixins.px2rem(6px) mixins.px2rem(3px) mixins.px2rem(6px);
	margin: mixins.px2rem(5px);
	display: flex;
	max-width: 170px;

	label {
		@include mixins.inset-text;
		margin-right: mixins.px2rem(6px);
	}
}

.AvatarSelector_accentOptionContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	
	label {
		text-shadow: -1px -1px rgb(0 0 0 / 10%);
		font-weight: bold;
		margin-right: mixins.px2rem(6px);
	}
}

.AvatarSelector_noAccent {
	margin: mixins.px2rem(5px);
	padding: mixins.px2rem(5px);
	text-align: left;

	> label {
		@include mixins.contentbox($background: var(--seasonal-color-dark));
		cursor: pointer;
		display: inline-block;
		padding: mixins.px2rem(5px);

		&[data-selected='true'] {
			background: var(--seasonal-color);
		}

		&:hover, &:focus {
			background: var(--seasonal-color-light);
		}

		input {
			cursor: pointer;
		}

		label {
			@include mixins.inset-text;
			display: inline-block;
		}
	}
}

.AvatarSelector_optionContainer {
	height: mixins.px2rem(415px);
	overflow: auto;
	margin: mixins.px2rem(5px) mixins.px2rem(10px);
	background: white;
	border-radius: 0.3333em;
}

.AvatarSelectorOption {
	@include mixins.contentbox($background: var(--seasonal-color-dark));
	@include mixins.inset-text;
	margin: mixins.px2rem(5px);
	display: inline-flex;
	width: 95%;
	padding: mixins.px2rem(6px);
	text-align: left;

	label {
		cursor: pointer;
		width: 100%;

		.Avatar {
			float: none;
		}
	}

	&:hover, &:focus {
		background: var(--seasonal-color-light);
	}

	input[type='radio'] {
		display: none;
	}
}

.AvatarSelectorOption-inactive {
	display: none;
}

.AvatarSelectorOption-selected {
	background-color: var(--seasonal-color);
}

.AvatarSelectorOption_elementContainer {
	display: inline-block;
	vertical-align: middle;

	.Avatar {
		float: none;
	}
}

.AvatarSelectorOption_elementContainer[data-element-type='character'],
 .AvatarSelectorOption_elementContainer[data-element-type='accent'] {
	.Avatar {
		background: #e0dada;
	}
}

@include mixins.responsive(48rem) {
	.AvatarSelector_optionContainer {
		height: auto;
		background: none;
	}

	.AvatarSelectorOption {
		display: inline-flex;
		justify-content: center;
   	 	width: mixins.px2rem(150px);
		height: mixins.px2rem(230px);
		min-width: auto;
		text-align: center;    
	}

	.AvatarSelectorOption-inactive {
		display: none;
	}

	.AvatarSelectorOption-selected {
		background-color: var(--seasonal-color);
	}
}

.ForumSettingsPage {
	.ForumSettingsPage_Settings {
		display: flex;
		flex-direction: column;
		gap: mixins.px2rem(16px);
		margin-bottom: mixins.px2rem(16px);

		.Select, .FormGroup input[type="text"] {
			flex-grow: 1;

			select {
				margin: 0;
			}
		}

		label {
			margin-left: 0;
		}
	}
	
	.Markup {
		background-color: colors.$color-signature-background;
		
		.spoiler {
			color: colors.$color-signature-background;
		}
	}
}

.AvatarSettingsPage_links {
	@include mixins.links(125px);
}

.AvatarPage {
	.Section {
		.Grid {
			@include mixins.responsive(1rem) {
				@include mixins.grid($col-width: 10rem);
			}

			.AvatarPage_avatar {
				padding: 1rem;
				@include mixins.contentbox($background: white);

				.AvatarPage_links {
					@include mixins.links(125px);
				}
			}
		}
	}
}

.AccountSettingsPage {
	.FormGroup {
		margin-top: mixins.px2rem(10px);
		margin-bottom: mixins.px2rem(10px);
	}

	.FontAwesomeIcon.informational-icon {
		margin-left: mixins.px2rem(4px);
	}

	.AccountSettingsPage_siteHeader {
		@extend .GenericBoolCheckbox;
		--active: var(--seasonal-color-dark);
	}

	.AccountSettingsPage_games {
		display: flex;
		flex-wrap: wrap;

		> li {
			width: 100%;
			padding: mixins.px2rem(8px) 0;

			@media only screen and (min-width: mixins.px2rem(768px)) {
				width: 25%;
				padding: 0 mixins.px2rem(8px) mixins.px2rem(8px) 0;
			}

			.AccountSettingsPage_ACGame {
				font-weight: bold;
			}
			
			ul {
				margin-left: mixins.px2rem(16px);
			}
		}
	}

	.AccountSettingsPage_awayContainer {
		display: flex;
		align-items: center;
		gap: 4px;

		.AccountSettingsPage_away {
			display: flex;
			align-items: center;
			gap: 4px;	
		}

		label {
			margin-left: 0;
			font-size: mixins.px2rem(14px);
		}
	}
}