@use "mixins";

.TunesPage {
	.Section {
		.Grid {
			@include mixins.responsive(1rem) {
				@include mixins.grid($col-width: 18rem);
			}
		}
	}

	.Tune {
		@include mixins.contentbox($background: white);
	}
}

.AddTunePage, .EditTunePage, .EditTownTunePage {
	.EditTune {
		.EditTune_notes {
			margin-top: mixins.px2rem(5px);
			margin-bottom: mixins.px2rem(5px);

			.Check {
				grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr));
			}
		}
	}
}

.Tune {
	padding: 1rem;
	font-size: mixins.px2rem(14px);

	.Tune_links {
		@include mixins.links(100px);
	}

	.Tune_name {
		font-size: mixins.px2rem(24px);
		text-align: center;
		word-break: break-word;

		.Tune_submitted {
			display: block;
			font-weight: normal;
			font-size: mixins.px2rem(14px);
		}

		.Tune_nameAlignment {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	.Tune_notes {
		text-align: center;
	}
}

img[src*="/tunes/"] {
	height: mixins.px2rem(65px);
}