@use "mixins";
@use "forms";

.TicketsPage {
	.Section {
		.Grid {
			@include mixins.responsive(1rem) {
				@include mixins.grid($col-width: 20rem);
			}

			.TicketsPage_ticket, .TicketsPage_supportTicket {
				@include mixins.contentbox($background: white);
				padding: 1rem;
				font-size: mixins.px2rem(14px);
			}
		}
	}
}

.TicketPage {
	.TicketPage_info, .TicketPage_chat {
		@extend .GenericSection;
	}

	.TicketPage_referenceUrl {
		img {
			max-width: 45%;
			image-rendering: -moz-crisp-edges;
			min-width: 45%;
		}
	}

	.TicketPage_chat {
        .TicketPage_messages {
            margin-bottom: mixins.px2rem(30px);

            > .TicketPage_message {
                @extend .GenericInnerSection;

                margin-top: 5px;
                margin-bottom: 5px;

				.TicketPage_message {
					word-break: break-word;
				}
            }
        }
    }
}

.NotificationsPage {
	.Section {

		.Grid {
			@include mixins.responsive(1rem) {
				@include mixins.grid($col-width: 16rem);
			}
		}

		.NotificationsPage_sort {
			display: flex;
			justify-content: center;
			align-items: baseline;

			.NotificationsPage_sortLink {
				padding: mixins.px2rem(2px);
			}

			.NotificationsPage_sortLink.selected {
				color: red;
			}
		}

		.NotificationsPage_CheckAllContainer {
			margin-bottom: mixins.px2rem(16);

			.FormGroup {
				align-items: center;
	
				.CheckboxContainer {
					justify-content: center;
				}
			}
		}

		.NotificationsPage_notificationContent {
			display: flex;
			align-items: flex-start;

			.NotificationsPage_notificationIcon {
				max-width: mixins.px2rem(32px);
				margin-right: mixins.px2rem(8px);
			}
			
			.NotificationsPage_notificationDescription {
				display: flex;
				flex-direction: column;
				
				.NotificationsPage_notificationCreated {
					font-size: 85%;
					padding-top: mixins.px2rem(8px);
				}
			}
		}
	}
}